Machu Picchu was built by Inca "Pachacuti"
Machu Picchu was abandoned after the Spanish Invasion
Machu Picchu was never the "lost" City of the Incas
Hiram Bingham did not discover Machu Picchu
The Inca Trail was used as a Pilgrimage path to Machu Picchu
Yale Returned Artifacts To Peru
Machu Picchu was not finished
Machu Picchu was made earthquake-resistant
The best part of Machu Picchu is the underground
Machu Picchu has 2 Mountains you can climb
Machu Picchu was an Astronomical Observatory
Machu Picchu is divided into 2 sectors
The Spaniards did not destroy Machu Picchu
Machu Picchu has a Secret Temple
